
<div class="card task all {{category}}" data-title="{{title}}" data-task="{{tasks}}" data-name="{{name}}"
     data-timestamp="{{createdAt}}"
    data-deadline="{{deadline}}" data-compensation="{{compensation}}" data-category="{{category}}"
    data-email="{{email}}">
    <div class="card-header">
        <h3 class="name" id="{{id}}">{{title}}</h3>
    </div>
    <div class="card-body">
        <p class="title">Name: {{name}}</p>
        <p class="tasks">Tasks: {{tasks}}</p>
        <p class="deadline">Deadline: {{deadline}}</p>
        <p class="compensation">Compensation: {{compensation}}</p>

    </div>

</div>

