
<div class="card skill all {{category}}" data-title = "{{title}}" data-skill="{{skills}}" data-name="{{name}}"
     data-timestamp="{{createdAt}}" data-location="{{location}}"
     data-compensation="{{compensation}}" data-category="{{category}}"
     data-email="{{email}}">
    <div class="card-header">
        <h3 class="name" id="{{id}}">{{name}}</h3>
    </div>
    <div class="card-body">
        <p class="name">Name: {{name}}</p>
        <p class="email">Email: {{email}}</p>
        <p class="skill">Skill: {{skills}}</p>
        <p class="category">Category: {{category}}</p>
        <p class="title">Title: {{title}}</p>
        <p class="location">Location: {{location}}</p>
        <p class="compensation">Compensation: {{compensation}}</p>
        <p class="description">Description: {{description}}</p>
    </div>


</div>

